@charset "UTF-8";
/*  CSS Document */

body, html { height: 100%; margin: 0;}
* { box-sizing: border-box; }

/*	Type
================================================== */




/*	Nav
================================================== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;}

ul li {float: right;}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

nav a:link {
    color: white; text-decoration: none; }
nav a:visited {
    color: #7ebdc3; text-decoration: none; }
nav a:hover {
    color: white; text-decoration: underline; }




/* Grid
================================================== */
.container {
    background-color: #7ebdc3;
    padding: 20px;
    font-family: Arial;
    margin: auto;
}




.row,
.row > .column {
  padding: 8px;}

.column {
  float: left;
  width: 33.3%;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}









/*	Background
================================================== */
.pattern {background-image: url("../assets/backgroundpatterns.png");}


/*	Footer
================================================== */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}





/*	Media Query
================================================== */
@media only screen and (max-width: 1100px) {
    .page-wrap { max-width: 90vw; } 
}
 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
} 

